name: CI Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Unit tests
        run: dotnet test Tests/SqlVersioningService.UnitTests

      - name: Start Postgres
        run: docker compose -f docker-compose.test.yml up -d

      - name: Integration tests
        run: dotnet test Tests/SqlVersioningService.IntegrationTests

      - name: Teardown
        if: always()
        run: docker compose -f docker-compose.test.yml down -v
